body {
    margin: 0;
    padding: 0;
    background-color: #6d9cff;
}
.main-cont {
    width: 90vw;
    height: 80vh;
    padding: 1rem;
    margin: 2rem auto;
    overflow-y: auto;
}
.msg-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem auto;
    background-color: #e5f2d9;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 5px #484848;
}
.name, .msg {
    margin: 1px;
}
.inp-cont {
    background-color: #b6f2a8;
    position: fixed;
    top: 85vh;
    width: 87vw;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #484848;
}
.inp-name, .inp-msg {
    height: 2rem;
    margin: 1rem;
    border-radius: 5px;
}
.inp-name {
    width: 20vw;
}
.inp-msg {
    width: 50vw;
}
.btnSend {
    border-radius: 5px;
    width: 8vw;
    margin-left: 2rem;
}
.del {
    border-radius: 5px;
    height: 30px;
    width: 30px;
}